/.quarto/
DS_Store
.Rhistory
/.luarc.json
/.quarto/
/*_files
/*_cache
/_freeze
_extensions/
.Rprofile
published-202301-chagneux-macrolitter.html
published-202301-chagneux-macrolitter.pdf
_environment
/.micromamba/
/_siteg/
/surfnet/